body {
  min-height: 100vh;
  text-align: center;
}

.center {
  align-items: center;
  background-color: $yellow;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  padding: 0 20px;
  text-align: center;
}

.class-to-be-purified {
  color: $translucent-white;
}
